body {
	background-color: #ffd3c0;
}

h1, p, h2, ul {
	margin: 0;
}

.container {
	color: white;
	background-color: #fb7237;
	border-radius: 8px;
	padding: 32px;
	margin: 4rem;
	border: 1px dotted black;
}

p:hover {
	color: red;
}

.flex {
	display: flex;
	justify-content: space-around;
}

.child {
	border: 1px solid black;
	padding: 8px;
	background-color: #fb7237;
	color: white;
}

.child:hover {
	transform: scale(1.1);
}

.modal {
	background-color: white;
	border: 1px solid black;
	border-radius: 8px;
	padding: 4rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
	.modal {
		display: none;
	}
}
